div {
    display: flex;
    flex-direction: row;
    height: 2em;
    margin-top: 10px;
    
}

#first {
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    margin-right: 5px;
}

#second {
    border: 1px solid red;
    padding: 5px;
    width: 50%;
}